body{
    background: rgb(12, 42, 59);
    height: 100vh;
}


.singleCol{ 
    max-width: 100%;
}


.social-media-icons-white a{
    color: white;
    font-size: 2rem;
}


.header{
	padding: 80px;
	text-align: Center;
	color: white;
}


.header h1{
	font-size: 40px;
}


.footer {
    padding: 80px;
	text-align: Center;
	color: white;
    background: black;
}



.column {
    float: left;
    width: 33.33%;
    padding: 12px;
    min-height: 350px;
    border: 1px solid;
    text-align: center;
}
  
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

  
.left, .right {
    width: 25%;
}
  

.middle {
    width: 50%;
}


@media screen and (max-width: 800px) {
    .column {
      width: 100%;
    }
    .column {
        flex: 1;
    }
}
